/***BASE STYLES***/
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

h1 span {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

h2 {
  color: hsl(234, 12%, 34%);
}

p {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-size: 0.9em;
}

header {
  text-align: center;
  margin: 50px 15px 20px 15px;

}

header h1 {
  margin: 0;
}

main {
  text-align: center;
}

.container {
  text-align: left;
  margin: 0 20px;
}

.image {
  text-align: right;
}

img {
  display: inline-block;
  padding-top: 10px;
  height: 50px;
  width: 50px;
  text-align: right;
}


.info-box-one {
  padding: 15px;
  margin: 15px 10px;
  font-size: 0.8em;
  border-top: 3px solid hsl(180, 62%, 55%);
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.info-box-two{
  padding: 15px;
  margin: 15px 10px;
  font-size: 0.8em;
  border-top: 3px solid hsl(0, 78%, 62%);
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.info-box-three {
  padding: 15px;
  margin: 15px 10px;
  font-size: 0.8em;
  border-top: 3px solid hsl(34, 97%, 64%);
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.info-box-four {
  padding: 15px;
  margin: 15px 10px;
  font-size: 0.8em;
  border-top: 3px solid hsl(212, 86%, 64%);
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/***DESKTOP***/

@media (min-width: 1024px) {

body {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
}

header {
  max-width: 40%;
  text-align: center;
  margin: 40px auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px 300px 300px 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  align-self: center;
  margin: 0 auto;
}

.info-box-one{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.info-box-two {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.info-box-three {
  grid-column: 3 / 4;
  grid-row: 3 / 5;

}

.info-box-four {
  grid-column: 4 / 5;
  grid-row: 2 / 4;

}

footer {
  margin-bottom: 0;
}

}
